In [24]:
import pandas as pd

In [25]:
weather_data = pd.read_csv('altered_new_price.csv')

In [26]:
weather_data

,Date,Region,Commodity,Price per Unit (Silver Drachma/kg),Type
0,2040-01-01,Mystic Falls,Plantain,296.37,Fruit
1,2040-01-01,Winterfell,Snow Peas,366.70,Vegetable
2,2040-01-01,Rivendell,Snow Peas,387.78,Vegetable
3,2040-01-01,Gotham,Snow Peas,286.04,Vegetable
4,2040-01-01,Atlantis,Snow Peas,185.45,Vegetable
...,...,...,...,...,...
259995,2044-09-09,Pandora,Durian,235.45,Vegetable
259996,2044-09-09,Asgard,Durian,62.36,Vegetable
259997,2044-09-09,Wakanda,Durian,281.84,Vegetable
259998,2044-09-09,Valhalla,Starfruit,428.27,Fruit
259999,2044-09-09,Asgard,Yam,486.39,Vegetable

In [27]:
weather_data['Date'] = pd.to_datetime(weather_data['Date'])

In [28]:
weather_data = weather_data.sort_values(by='Date')

In [29]:
# Define the split points
test_start_date = '2044-01-01'
eval_start_date = '2043-07-01'

# Create the splits
test_data = weather_data[weather_data['Date'] >= test_start_date]
eval_data = weather_data[(weather_data['Date'] >= eval_start_date) & (weather_data['Date'] < test_start_date)]
train_data = weather_data[weather_data['Date'] < eval_start_date]

# Display the sizes of each split
print(f"Train size: {len(train_data)}, Eval size: {len(eval_data)}, Test size: {len(test_data)}")

Train size: 181730, Eval size: 26184, Test size: 52086

In [30]:
import os

# Create the folder if it doesn't exist
os.makedirs('priceData', exist_ok=True)

# Write the datasets to CSV files
train_data.to_csv('priceData/train_data.csv', index=False)
eval_data.to_csv('priceData/eval_data.csv', index=False)
test_data.to_csv('priceData/test_data.csv', index=False)

print("Datasets have been written to the 'priceData' folder.")

Datasets have been written to the 'priceData' folder.

In [33]:
import pandas as pd
import json

df1 = pd.read_csv('priceData/eval_data.csv')
df2 = pd.read_csv('weatherData/eval_data.csv')
# Ensure 'date' columns are string type for JSON keys
df1['Date'] = df1['Date'].astype(str)
df2['Date'] = df2['Date'].astype(str)

# Combine both DataFrames
combined = pd.concat([df1, df2], ignore_index=True)

# Group by date and convert each group to a list of dicts
grouped = combined.groupby('Date')

# Build dictionary
date_dict = {
    date: group.drop(columns='Date').to_dict(orient='records')
    for date, group in grouped
}

# Dump to JSON file
with open('eval.json', 'w') as f:
    json.dump(date_dict, f, indent=2)